.vertical-align-middle {
    vertical-align: middle;
}
.padding-bottom-3 {
    padding-bottom: 3px;
}
body {
  color: var(--gray);
  text-align: center;
}
.title {
  position: relative;
  font-size: 2em;
  font-weight: 500;
  margin: 1em;
  padding: 0.5em;
}
#inactive{
  color: #c9c9c9;
  font-weight: 400;
}
/*Give colors to the table*/
tr:nth-child(even), .table-row {
    background-color: #f2f2f2
}
/* For some reason this is the only way to make the padding work in the table*/
th:not(:first-child), th:first-child, td:not(:first-child), td:first-child {
  padding-top:1.1em;
  padding-bottom: 1.1em;
}
.table-row {
  border-bottom: 0.2em solid #8b8b8b;
  border-top:  0.2em solid white;
}
