/* Navbar horizontal padding */
.navbar {
  padding: 1.3rem 1rem;
  position: static;
}
/* Put bottom border orange */
.top-bar {
    border-bottom: 2px solid var(--orange);
    padding: 1.5em;
    margin-bottom: 25px;
}


.top-bar-right{
  position: relative;
  bottom: -0.75em;
}

.navbar-nav{
  text-align: center;
}

.admin {
  border-bottom: 2px solid var(--orangeDark);
}
/*  Navbar hover */
a {
    font-size: 1.2em;
    padding: 1rem 1.5rem;
    color: var(--orange);
}

a:hover{
    color: var(--orangeDark);
}
/*  Navbar title */
.navbar-light .navbar-brand:hover {
    color: var(--orangeDark);
}
.navbar-light .navbar-brand {
    color: var(--orange);
    padding: 0.7rem 1.1rem;
    font-size: 2em;
    font-weight: 500;
}
.popover{
  border-radius: 0px;
}
/* Notifications*/
#notifications-container{
  border: 1px solid var(--grayLight);
  background-color:white;
}
.popover-body{
	padding:0;
}
