/* Navbar horizontal padding */
.navbar {
  padding: 1.3rem 1rem;
  position: static;
}
/* Put bottom border orange */
.bottom-border {
    border-bottom: 2px solid var(--orange);
}

.admin {
  border-bottom: 2px solid var(--orangeDark);
}
/*  Navbar hover */
.navbar-light .navbar-nav .nav-link {
    font-size: 1.2em;
    padding: 1rem 1.5rem;
    color: var(--orange);
}
.navbar-light .navbar-nav .nav-link:hover{
    color: var(--orangeDark);
}
/*  Navbar title */
.navbar-light .navbar-brand:hover {
    color: var(--orangeDark);
}
.navbar-light .navbar-brand {
    color: var(--orange);
    padding: 0.7rem 1.1rem;
    font-size: 2em;
    font-weight: 500;
}
